body
    background-color: gold

svg
    position: absolute

@for $i from 1 through 29
    #inserthere:hover
        svg:nth-child(#{$i})
            animation: rotate 3s 0.1s*$i ease-out alternate
            polygon
                animation: color 3s 0.1s*$i ease-out alternate

#inserthere
    position: relative
    margin: auto
    width: 550px
    height: 420px
    background-color: gold

@keyframes rotate
    75%
        transform: rotate(0deg)
    100%
        transform: rotate(60deg)

@keyframes color
    75%
        stroke: black
    80%
        stroke: gray
    100%
        stroke: silver