<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="sass/hexa.css")
        title Document
    body
        #inserthere
            svg#poly(width="90px" height="100px")
                polygon(points="45,10 10,30 10,70 45,90 80,70 80,30 45,10" stroke="black" stroke-width="10" fill="none")
        script(src="hexa.js")